*{
    margin: 0px;;
}
#dialog-box
{
    width:500px; height: 580px;
    background-color: rgb(211, 199, 199);                                                                                                                                                                                                                                                                                                                           
    position: absolute;
    left: 33%; 
    top:0%;
    border: 5px black solid;
   /* box-shadow: 0px 0px 10px 10px rgb(168, 181, 185) ;*/
   /*box-shadow: 5px 5px 10px  gray ;*/
   margin-top:-30px;
    padding: 5px;  
}
#title
{
    border-bottom:1px grey solid;
    width: 90%;
    line-height: 30px;
}
body{
  /* background-color: rgb(27, 5, 68);*/
    background-image: url(../pics/math.jpg);
    /*background-repeat: repeat;*/
   /* height:100%;*/
   background-size: cover;
   
}


#image{
    width: 150px; height: 150px;
    background-image: url(../pics/SUP.png);
    background-size: contain;
    margin-left: 150px; margin-top: 30px;
}
input[type="text"]
{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border:0px;
    border-bottom: 2px black solid;
}
.txt-user
{
    background-image: url(../pic);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 40px;
}

label{
    font-family: cursive;
    color: purple;
}
  
   .btn{
       padding: 10px;;
       background-image: linear-gradient(to bottom right, rgb(12, 12, 14), rgb(123, 125, 126));
       color: white;
       width: 100px;
       margin: auto;
       cursor: pointer;
       border-radius: 20px;
      
   }
   .btn2{
    padding: 10px;;
    background-image: linear-gradient(to bottom right, rgb(12, 12, 14), rgb(123, 125, 126));
    color: white;
    width: 300px;
    margin: auto;
    cursor: pointer;
    border-radius: 20px;
   }
   .btn3{
    padding: 10px;;
    background-image: linear-gradient(to bottom right, rgb(12, 12, 14), rgb(123, 125, 126));
    color: white;
    width: 100px;
    margin: auto;
    cursor: pointer;
    border-radius: 20px;
   
}